EN/
test
Packages/
BAK/
Modules/CLJP-Common/ModuleData/Languages/JP/Native
Modules/CLJP-Common/ModuleData/Languages/JP/SandBox
Modules/CLJP-Common/ModuleData/Languages/JP/SandBoxCore
Modules/CLJP-Common/ModuleData/Languages/JP/StoryMode
Modules/CLJP-Common/ModuleData/Languages/JP/MultiPlayer
Modules/CLJP-Common/ModuleData/Languages/JP/CustomBattle
Modules/CLJP-Common/ModuleData/Languages/JPbad
Modules/CLJP-Font-GenShinGothic/Assets
Modules/CLJP-Font-GenShinGothic/AssetSources
Modules/CLJP-Font-GenShinGothic/RUntimeDataCache
Modules/CLJP-Font-GenShinGothic/GUI/Fonts
Modules/CLJP-Font-GenShinGothic/GUI/SpriteParts/ui_Font_GenShinGothic
Modules/CLJP-Font-Latemin/Assets
Modules/CLJP-Font-Latemin/AssetSources
Modules/CLJP-Font-Latemin/RUntimeDataCache
Modules/CLJP-Font-Latemin/GUI/Fonts
Modules/CLJP-Font-Latemin/GUI/SpriteParts/ui_Font_GenEiLateMinP
SteamUpload
Mods/*
Localizer
text/*
!text/MB2BL-JP-pub.mo
doc
.Rproj.user
*.lnk
*.rdc
*.tpac
tmp
tools/vanilla-id-*.csv
*.zip
comparison.xlsx
.gitignore
